# Configuración opcional para envío de correo
EMAIL_HOST=smtp.example.com
EMAIL_PORT=587
EMAIL_USER=tu_usuario
EMAIL_PASS=tu_contraseña
EMAIL_SECURE=false
EMAIL_FROM="VP Project <no-reply@elpoli.edu.co>"
